---
title: Roshan's site
---

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <pre>
        const roshan = {
          firstName: 'Roshan',
          lastName: 'Jossey',
          avatar: 'https://avatars1.githubusercontent.com/u/8488446?v=3&s=400',
          createdAt: 'Wed Aug 18 08:30:55 +0530 1993',
          interests: {
            technical: [
              'JavaScript',
              'Ruby',
              'Angularjs',
              'Reactjs',
              'TDD',
              'Functional Programming'
            ],
            nonTechnical: [
              'Films',
              'Mathematics',
              'Philosophy',
              'Politics'
            ]
          }
        };
      </pre>
  </div>
  <div class="col-md-6 col-sm-12 card-container">
    <%= partial(:card_link, :locals => { :link_url => "https://github.com/roshanjossey", :link_text => "GitHub", :link_class => "github" , :link_image => "github-icon" }) %>
    <%= partial(:card_link, :locals => { :link_url => "https://medium.com/@roshanjossey", :link_text => "Medium", :link_class => "medium", :link_image => "medium-icon"  }) %>
    <%= partial(:card_link, :locals => { :link_url => "http://stackoverflow.com/users/3951782/sudo-bangbang", :link_text => "Stack Overflow", :link_class => "stackoverflow", :link_image => "stackoverflow-icon"  }) %>
    <%= partial(:card_link, :locals => { :link_url => "https://www.linkedin.com/in/roshan-jossey-b00989a3/", :link_text => "Linkedin", :link_class => "linkedin", :link_image => "linkedin-icon"  }) %>
    <%= partial(:card_link, :locals => { :link_url => "https://twitter.com/1stContribution", :link_text => "Twitter", :link_class => "twitter", :link_image => "twitter-icon"  }) %>
    <%= partial(:card_link, :locals => { :link_url => "https://soundcloud.com/roshan-jossy", :link_text => "SoundCloud", :link_class => "soundcloud", :link_image => "soundcloud-icon"  }) %>
  </div>
</div>
</div>
